.center{
  text-align:center;
  border-bottom:1px solid black ;
  margin-bottom:0px;
  width:750px;


     }
  ul{   width:90px;
        border-right:1px solid black;
        margin:0px;
     }
      #grid{
        display: grid;
        width:750px;
        grid-template-columns: 160px 1fr;
        border-bottom:black solid 1px;
        border-right:black solid 1px;
        }
body{
  margin:0px;
}
ol{
  padding:5px;
  text-align:left;
}
.welcomreturn{
  text-align:right;
  margin-top:0px;
  }





@media(max-width:700px){
  #grid{
    display:block;
  }
  ul{
    border:none;
  }



  }
